
@{
    ViewBag.Title = "Start Page";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "page",
    
    };

}
<div class="block">
    <p>
        @using (Ajax.BeginForm("GetUrlPage", new AjaxOptions {UpdateTargetId="page" }))
        {
            @Html.TextBox("url")
            <button class="button" id="btn">Request</button>
        }
    </p>
    <p>@Html.TextArea("page",ViewData["url"])</p>
    @using (Ajax.BeginForm("GetJsonResult", new AjaxOptions { UpdateTargetId = "result" }))
    {
        <p>@Html.TextArea("js")</p>
        <p><button class="button">Run</button></p>
    }
    <p>@Html.TextArea("result")</p>
</div>

