body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.block{
    margin:auto;
    margin-left:25%;
    margin-top:5%;
    margin-bottom:1%;
}
#url{
    width:500px;
}
#page{
    visibility:hidden;
    width:100%;
    height:300px;
}
#runner{
    visibility:hidden;
}
#js{
    visibility:hidden;
    width:575px;
}
#run{
    transform: translateX(-270px);
}
#updown {
  position: fixed;
  top: 30px;
  left: 10px;
  cursor: pointer;
}
#updown {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 50px;
  left: 10px;
  cursor: pointer;
}

#updown.up {
  background: url(up.jpg) left top;
  background-size: 40px 40px;
}

#updown.down {
  background: url(down.jpg) left top;
  background-size: 40px 40px;
}
#taskCreator{
    visibility:hidden;
    padding-top:30px;
}

/* Set width on the form input elements since they're 100% wide by default */
